{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react",
    "@typescript-eslint",
    "prettier",
    "import",
    "simple-import-sort"
  ],
  "extends": [
    "plugin:react/recommended",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:prettier/recommended" // Make sure this is always the last element in the array.
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "import/order": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "react/react-in-jsx-scope": "off",
    "react/no-unescaped-entities": "off",
    "import/first": "error",
    "import/newline-after-import": "error",
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          // Side effect imports.
          ["^\\u0000"],
          // React related packages come first.
          ["^react", "^@?\\w"],
          // Parent imports. Put `..` last.
          ["^\\.\\.(?!/?$)", "^\\.\\./?$"],
          // Other relative imports. Put same-folder imports and `.` last.
          ["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"],
          // Internal packages
          [
            "^(@components|@utils|@services|@pages|@assets|@interfaces|@mocks|@queries|@data)/"
          ],
          // Style imports.
          ["^.+\\.?(css)$"]
        ]
      }
    ]
  }
}
