@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* 
   * Debug
   */
  /* * {
    outline: 1px solid blue !important;
  } */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-title
    font-bold;
  }

  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }

  body {
    @apply bg-zinc-50
    dark:bg-zinc-900;
  }

  a {
    @apply hover:text-primary-400;
  }
}

@layer components {
  .btn-primary {
    @apply rounded
    bg-primary-500
    px-4 
    py-2  
    font-bold
    text-white
    duration-150
    hover:bg-primary-600
    hover:ease-in;
  }
  .btn-secondary {
    @apply rounded
    border-[1px]
    border-solid 
    border-primary-500 
    bg-none 
    px-4 
    py-2 
    text-primary-500
    duration-150
    hover:bg-primary-500 
    hover:text-white
    hover:ease-in;
  }
  .btn-variant-ok {
    @apply rounded
    bg-green-500
    px-4 
    py-2  
    font-bold
    text-white
    duration-150
    hover:bg-green-400
    hover:ease-in;
  }
  .btn-variant-ko {
    @apply rounded
    bg-red-500
    px-4 
    py-2  
    font-bold
    text-white
    duration-150
    hover:bg-red-400
    hover:ease-in;
  }

  .sidebar {
    @apply fixed 
    bottom-0
    left-0
    top-0
    overflow-hidden 
    bg-gray-100 
    px-2 
    text-center
    duration-150
    dark:bg-gray-800
    dark:text-white;
  }
  .sidebar--open {
    @apply w-[200px];
  }
  .sidebar--closed {
    @apply w-[50px]
    duration-150
    tmd:invisible;
  }

  .bubble {
    @apply flex items-center gap-4 rounded px-2 py-2;
  }
  .bubble--info {
    @apply border-[1px] border-solid border-blue-800 bg-blue-50 text-blue-800 dark:border-blue-50 dark:bg-blue-400 dark:text-blue-50;
  }
  .bubble--warning {
    @apply border-[1px] border-solid border-yellow-600 bg-yellow-50 text-yellow-600 dark:border-yellow-200 dark:bg-yellow-700 dark:text-yellow-200;
  }
}

@layer utilities {
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

/* Antd */
.ant-message-custom-content {
  @apply flex items-center gap-2 !important;
}
.ant-modal-content {
  @apply shadow-none dark:bg-zinc-900 dark:text-white !important;
}
.ant-input-clear-icon {
  @apply dark:text-zinc-500 !important;
}
/* Switch */
.ant-switch:not(.ant-switch-checked) {
  @apply bg-zinc-400 dark:bg-zinc-900 !important;
}
.ant-switch-checked {
  @apply bg-primary-500 !important;
}
